<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="bootstrap-5.0.0-beta2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="css/style.css">
    <title>Playlist</title>
</head>
<body>
<header>
    <nav class="navbar navbar-dark bg-dark navbar-expand-sm text-light p-1">
        <div class="container-fluid">
            <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <span class="navbar-brand"><img src="img/iconfinder-icon.svg" height="32" width="32" alt="HR"></span>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link fs-5" href="playlists.html">Playlists</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link fs-5" href="songs.html">Songs</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <nav id="main-header"
         class="ps-1 py-1 mb-3 navbar navbar-light bg-light text-dark">
        <ul class="navbar-nav float-start">
            <li class="nav-item" title="Back to list">
                <a href="playlists.html" class="btn btn-light btn-block">
                    <i class="bi-arrow-left"></i></a>
            </li>
        </ul>
        <span class="navbar-brand text-uppercase me-auto">Change playlist</span>
        <ul class="navbar-nav">
            <li class="nav-item">
                <span data-bs-toggle="modal" data-bs-target="#filterDialog">
                    <a href="#"
                       class="btn btn-outline-dark"
                       title="Filter">
                        <i class="bi bi-filter-square"></i>
                    </a>
                </span>
                <a href="addSong.html"
                   class="btn btn-outline-dark"
                   data-bs-toggle="tooltip"
                   data-bs-placement="top"
                   title="Add song to playlist">
                    <i class="bi-plus"></i>&nbsp;
                    <span class="d-none d-sm-inline">Add song to playlist</span>
                    <span class="d-sm-none">Add</span>
                </a>
            </li>
        </ul>
    </nav>
</header>
<section class="container-fluid">
    <table class="table table-dark table-striped">
        <thead>
        <tr>
            <th>Singer</th>
            <th>Tittle</th>
            <th class="d-none d-md-table-cell">Album</th>
            <th class="d-none d-md-table-cell">Release date</th>
            <th class=""></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td class="text-start">
                Metallica
            </td>
            <td>Nothing else matters</td>
            <td class="d-none d-md-table-cell">Metallica</td>
            <td class="d-none d-md-table-cell">02-03-1992</td>
            <td class="text-end">
                    <a href="changePlaylist.html" class="btn-sm btn-outline-light"
                       title="Remove song"><i class="bi-x" style="font-size: 1.25rem;"></i><span
                            class="d-none d-md-inline">&nbsp;Remove</span>
                    </a>
            </td>
        </tr>
        </tbody>
    </table>
</section>
<footer>
    <hr/>
    <p class="text px-3">&copy;2021</p>
</footer>
<!-- Choose filter -->
<div class="modal fade" id="filterDialog" tabindex="-1" role="dialog"
     aria-labelledby="filterModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header alert-dark">
                <h5 class="modal-title" id="filterModalLabel">Choose filters</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form class="row g-3">
                    <div class="input-group mb-3">
                        <span class="input-group-text alert-dark" id="basic-addon1">Singer:</span>
                        <input type="text" class="form-control" placeholder="Metallica" aria-label="Metallica" aria-describedby="basic-addon1">
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text alert-dark">Date release:from</span>
                        <input type="date" class="form-control" aria-label="Username">
                        <span class="input-group-text alert-dark">to</span>
                        <input type="date" class="form-control" aria-label="Server">
                    </div>
                    <div class="d-flex justify-content-end modal-footer">
                        <a href="changePlaylist.html"
                           class="btn btn-secondary me-1"
                           title="Cancel">Cancel</a>
                        <a href="changePlaylist.html"
                           class="btn btn-success"
                           title="Filter">Filter</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="bootstrap-5.0.0-beta2/js/bootstrap.bundle.min.js"></script>
</body>
</html>