<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Passenger</title>
</head>
<body>

<header>
    <nav>
        <a href="trains.html">Trains</a>
        <a href="passengers.html">Passengers</a>
    </nav>
    <a href="passengers.html">Back</a>
    <h1>Edit Passenger</h1>
</header>

<section>
    <form>
        <div>
            <label for="field_passengerName">Passenger Name</label>
            <input id="field_passengerName"
                   type="text"
                   value="John Doe"/>
        </div>

        <div>
            <label for="field_passengerTrain">Train</label>
            <select id="field_passengerTrain">
                <option value="0">east</option>
                <option value="1">west</option>
                <option value="2">long</option>
                <option value="3">test</option>
                <option value="4">polarexpress</option>
            </select>
        </div>

        <div>
            <a href="passengers.html">Cancel</a>
            <a href="passengers.html">Save</a>
        </div>
    </form>
</section>

<footer>
    <hr/>
    <p class="text-center">&copy; 2021 Trains & Passengers</p>
</footer>
</body>
</html>