<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Passengers</title>
</head>
<body>

<header>
    <nav>
        <a href="trains.html">Trains</a>
        <a href="passengers.html">Passengers</a>
    </nav>
    <h1>Passengers</h1>
    <a href="passenger.html">Add</a>
</header>

<section>
    <table border="1">

        <thead>
        <tr>
            <th>Name</th>
            <th>Train</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Ivan Turgenev</td>
            <td>west</td>
            <td>
                <a href="passenger.html">Edit</a>
                <a href="#">Delete</a>
            </td>
        </tr>
        <tr>
            <td>Alexander Pushkin</td>
            <td>down</td>
            <td>
                <a href="passenger.html">Edit</a>
                <a href="#">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</section>

<footer>
    <hr/>
    <p class="text-center">&copy; 2021 Trains & Passengers</p>
</footer>

</body>
</html>