<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Trains</title>
</head>
<body>

<header>
    <nav>
        <a href="trains.html">Trains</a>
        <a href="passengers.html">Passengers</a>
    </nav>
    <h1>Trains</h1>
    <a href="train.html">Add</a>
</header>
<div>
    Start: <input type="date" name="calendar">
    End: <input type="date" name="calendar">
    <a href="#">Apply</a>
</div>

<section>
    <table border="1">

        <thead>
        <tr>
            <th>Name</th>
            <th>Departure</th>
            <th>Passengers</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>west</td>
            <td>11.11.2011</td>
            <td>1</td>
            <td>
                <a href="train.html">Edit</a>
                <a href="#">Delete</a>
            </td>
        </tr>
        <tr>
            <td>east</td>
            <td>08.08.2008</td>
            <td>2</td>
            <td>
                <a href="train.html">Edit</a>
                <a href="#">Delete</a>
            </td>
        </tr>
        <tr>
            <td>down</td>
            <td>01.01.1970</td>
            <td>42</td>
            <td>
                <a href="train.html">Edit</a>
                <a href="#">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</section>

<footer>
    <hr/>
    <p class="text-center">&copy; 2021 Trains & Passengers</p>
</footer>

</body>
</html>